body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
p {
	text-align: justify;
}
.orange-color {
	color: #ec73d0;
}
.flexible-container {
	display: flex;
	margin-bottom: 100px;
}
.half-width {
	width: 39%;
	float: left;
	margin-left: 5%;
	padding-left: 2%;
	margin-top: 2%;
}
.half-width img {
	width: 100%;
	box-shadow: 2px 2px 20px gray;
	border-radius: 2%;
	padding: 2%;
}
.link-button {
	text-decoration: none;
	background-image: linear-gradient(45deg, #ec73d0, #948dea);
	padding: 10px 40px;
	border-radius: 5px;
	color: white;
	font-weight: 700;
	margin-top: 10px;
	display: inline-block;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.experience-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.experience-item {
	box-shadow: 10px 10px 40px gray;
	border-radius: 0 15px 15px 0;
	width: 38%;
	float: left;
	margin-left: 5%;
	padding: 0 2% 2% 2%;
}
#full-sack-experience{
    border-left: 7px solid;
    border-image: linear-gradient(#ec73d0, #948dea);
    border-image-slice: 1;  
}
#web-deb-experience{
    border-left: 7px solid;
    border-image: linear-gradient(rgb(77, 77, 240), rgb(101, 238, 238) );
    border-image-slice: 1;
}
footer p{
    text-align: center;
}